@media screen and (max-width: 480px) {
  #test_media h1 {
    color: red;
  }
}

@media screen and (min-width: 480px) and (max-width: 800px) {
  #test_media h1 {
    color: green;
  }
}

@media screen and (min-width: 800px) {
  #test_media h1 {
    color: blue;
  }
}

h1 {
  text-align: center;
}

.wrapper {
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  background-color: green;
  height: 300px;
  width: 24%;

}

@media screen and (max-width: 1280px) {
  .block {
    width: 49%;
    background-color: forestgreen;
      margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  
  .block {
    width: 95%;
    margin: 5px auto;
    background-color: forestgreen;
  }
  
}

/* Адаптив с блоками-обезьянами */

.wrap {
    font-size: 20px;
    width: 90%;
    margin: auto;
}

.wrap h2 {
    text-align: center;
    font-size: 3em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
/*    border: 1px solid red;*/
}

.monkey {
    width: 32%;
    box-sizing: border-box;
    border: 1px solid green;
    padding: 1rem;
    margin-bottom: 10px;
}

.monkey:not(:nth-last-child(3n)) {
    margin-right: 2%;
}

.monkey img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 354px;
}

.monkey p {
    font-size: 18px;
    text-align: justify;
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: row;
    }
    
    .monkey {
        width: 100%;
    }
    
    .wrap {
        font-size: 10px;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 480px) {
    .wrap {
        font-size: 6px;
    }
    
    .wrap h2 {
        font-variant: small-caps;
    }
}